<h1> Modifier mon mot de passe </h1>
<div>
    <form method="post">
        {% csrf_token %}
        {%if student %}
            <input type="password" placeholder="Ancien mot de passe" name="old_password">
            <input type="password" placeholder="Nouveau mot de passe" name="new_password_1">
            <input type="password" placeholder="Confirmation du nouveau mot de passe" name="new_password_2">
        {% endif %}
        <button type="submit" name="Annuler"> Annuler </button> 
        <button type="submit"> Valider </button>
        {%if old_password_error %}
            <p> Mot de passe incorrect.</p>
        {% endif %}
        {%if new_password_error %}
            <p> Les nouveaux mots de passe ne correspondent pas.</p>
        {% endif %}
    </form>
</div>
