{% load static %}
<h1> Je crée mon équipe </h1>
<div>
    <form method="post">
        {% csrf_token %}
        {% if student %}
            <input name="name" placeholder="Nom d'équipe">
        {% endif %}
        <select name="type" placeholder="Autre">
            <option value="1A"> 1A </option>
            <option value="Ponts"> Ponts </option>
            <option value="Autre"> Autre </option>
        </select>
    <button type="submit"> Créer l'équipe </button>
    <button type="submit" name="Annuler"> Annuler </button>
    </form> 
</div>
