{% if no_team %}
    <p> Vous n'avez pas d'équipe.</p>
    <a href="team/create"> Créer mon équipe </a>
{% endif %}
{% if team %}
    <p> Nom: {{team}} </p>
    <p> Type: {{team.type}} </p>
    <p> Score: {{team.score}} </p>
    {% if members %}
        <p> Membres:</p>
        {% for membre in members %}
            <li>{{membre}}</li>
        {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="edit_team"> Modifier l'équipe </button> 
        <button type="submit" name="leave_team"> Quitter l'équipe </button> 
    </form>
{% endif %}