{% load static %}
<!--Header-->
<!--Body-->
<body>
    <!--Header-->
    {% include "header.html" %}
    
    <!--Content-->
    <div class="content">

        <!--Main Content-->
        <div class="content-main">

            <div id="Basic"></div>

        </div><!--End of Main Content-->

    </div><!--End of Content-->
    
    <script>
        window.react_mount = document.getElementById('Basic');
    </script>
    <script src="{% static 'react/register.bundle.js' %}"></script>

</body><!--End of Body-->

</html><!--End of Document-->
